@import "./partials/reset";
@import "./partials/colors";
@import "./partials/font";
@import "./partials/spacing";
@import "./partials/buttons";
@import "./partials/mixins";
@import "./partials/animations";

header {
  nav {
    display: flex;
    align-items: center;
    background-color: #e2c8f0;
    img {
      width: 5rem;
    }
    ul {
      li {
        display: inline-flex;
        a {
          text-decoration: none;
          font-family: inherit;
          font-size: $size1;
        }
      }
    }
  }
}
#hero {
  background-color: $colorPurple;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    @include titleBig();
  }
  img {
    width: 300px;
    border-radius: 20px;
    @include floating(none, 25px, 0px 5px 5px 0px rgba(182, 134, 204, 0.784));
  }
}

#grid {
  display: flex;
  gap: 10px;
  justify-content: center;
  img {
    width: 200px;
    border-radius: 20px;
    @include floating();
  }
}
