$colorBlue: #0e6cff;
$colorOrange: #ff8700;
$colorGreen: #4caf50;
$colorPurple: #640fc5;

$colorMap: (
  "blue": $colorBlue,
  "orange": $colorOrange,
  "green": $colorGreen,
);

@each $name, $color in $colorMap {
  .btn-#{$name} {
    background-color: $color;
    color: $text-color;
    font-family: inherit;
    font-size: $size1;
  }
}
